body {
	position: relative;
}

.container-fluid {
	background-color: lightblue;
}

#navbar {
	position: fixed;
	width: 100%;

	height: 50px;

}

#navvie {
	height: 50px;

}

#topcontainer {
	padding-top: 50px;
}

.nav-item {
	height: 50%;
}

#pbar {
	width: 100%;
	background-color: red;
	margin-top: 40px;
}
.nav-item{

}
#hjgasd {
	background-color: blue;
}
