@font-face {
  font-family: gothic;
  src: url("fonts/GOTHIC.ttf") format("truetype");
}
*, *::before, *::after {
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #364451, #233F58);
}

.taskbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  position: fixed;
  margin-bottom: 0;
  padding: 0;
  background-color: #1D2731;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10000;
}

.taskbar-buttons {
  display: flex;
  justify-content: center;
  width: 70%;
}

.taskbar button {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  background-color: #1D2731;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}

.taskbar button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.taskbar button.active {
  background-color: #00bfff;
}

.logo {
  display: flex;
  justify-content: center;
  width: 30%;
}

.logo-text {
  padding: 0;
  margin-right: 25px;
  margin-left: 25px;
  color: #00bfff;
  font-size: 1.5rem;
  font-family: gothic, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 4px #000000;
  user-select: none;
}

.grid-container {
  padding-top: 40px;
  font-family: monospace;
  display: grid;
}

.row {
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.cell, .text_cell {
  color: rgba(255, 255, 255, 0.2);
  height: 3rem;
  width: 1.5rem;
  display: grid;
  place-items: center;
  grid-row: 3;
  font-size: 3rem;
  padding: 7px;
  user-select: none;
}

@keyframes animation {
  0% {
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    color: rgba(255, 255, 255, 0.7);
  }
  100% {
    color: #00bfff;
  }
  /* #35FF00 */
}
@keyframes binary_hover_animation {
  0% {
    color: rgba(255, 255, 255, 0.2);
  }
  50% {
    color: rgba(255, 255, 255, 0.5);
  }
  100% {
    color: rgba(255, 255, 255, 0.2);
  }
}
@keyframes text_hover_animation {
  0% {
    color: #00bfff;
  }
  50% {
    color: #00FFC2;
  }
  /* #CA00FF */
  100% {
    color: #00bfff;
  }
}
.about-me {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding-top: 55px;
}

.about-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 30px;
  border-radius: 8px;
  width: 35%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text {
  width: 50%;
  margin-top: 20px;
  padding: 30px;
  border-radius: 8px;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text > h1 {
  color: white;
  text-shadow: -2px 2px 0px #000000;
  transition: 0.5s;
}

.about-text > h1:not(h1:first-of-type):hover {
  font-size: 2.5rem;
  color: #00bfff;
}

.about-text > h1:first-of-type {
  font-size: 5rem;
}

.about-text > h1:first-of-type:hover {
  font-size: 6rem;
  color: #00bfff;
}

img.portret {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lotsofp {
  padding-top: 50px;
}

/*# sourceMappingURL=styles.css.map */
